*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Roboto;
  scroll-behavior: smooth; }

a {
  color: inherit;
  text-decoration: none; }

.main {
  width: 1300px;
  margin: 0 auto;
  padding: 5rem;
  background-color: #e5e5e5; }

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(-100%); }
  80% {
    opacity: 1; }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(-100%); }
  80% {
    opacity: 1; }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(100%); }
  80% {
    opacity: 1; }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.heading--small {
  font-size: 1.9rem; }

.heading--big {
  font-size: 2.5rem; }

.heading--center {
  text-align: center; }

.paragraph {
  font-size: 1.6rem;
  line-height: 2; }
  .paragraph--center {
    text-align: center; }

.text--white {
  color: #FFF; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.mb-md {
  margin-bottom: 3rem; }

.mt-hg {
  margin-top: 9rem; }

.mt-lg {
  margin-top: 4rem; }

.mt-sm {
  margin-top: 2rem; }

.home {
  display: grid;
  grid-template-columns: 1fr 1fr; }
  .home__card {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .home__card--text {
      width: 80%; }
    .home__card:first-child {
      animation: moveRight 1s; }
    .home__card:last-child {
      animation: moveLeft 1s; }
  .home__photo {
    max-height: 450px;
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); }

.about {
  padding: 0 15rem; }

.footer {
  background-color: #5ADAFD;
  color: #FFF;
  padding: 3rem;
  text-align: center; }
  .footer__contact {
    height: 10%; }
  .footer__icon {
    width: 2rem;
    padding: .2rem;
    transform: translateY(20%); }
  .footer__credit {
    transform: translateY(70%); }
  .footer__container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-right: 0.5rem;
    transform: translateY(-20%); }
  .footer__button {
    background-color: #8dc435;
    width: 10rem;
    padding: 1rem;
    font-size: 1.4rem;
    border-radius: 5px;
    text-align: center; }
    .footer__button:not(:last-child) {
      margin-right: 2rem; }
    .footer__button:hover {
      background-color: #a9dd56; }

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  position: fixed;
  top: 0;
  z-index: 11;
  width: 100%;
  background-color: #fff; }
  .navbar__name {
    font-size: 3.5rem;
    font-family: 'Playfair Display SC';
    padding: 1rem;
    border: solid black 1px; }
  .navbar__menu {
    display: flex;
    align-items: center; }
  .navbar__item {
    list-style: none;
    text-transform: uppercase;
    font-size: 1.9rem;
    padding: 2rem; }
    .navbar__item:hover {
      background-color: #8DD6F9;
      color: #FFF; }

.project {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  grid-template-rows: 300px 300px;
  justify-content: center;
  grid-gap: 4rem; }
  .project__card {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    background-size: contain;
    background-position: 0 3rem;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 5px;
    background-color: #fff;
    background-position: center; }
    .project__card:nth-child(1) {
      background-image: url("../img/Landing Page.png"); }
    .project__card:nth-child(2) {
      background-image: url("../img/camry_card.jpg"); }
    .project__card:nth-child(3) {
      background-image: url("../img/weather.jpg"); }
    .project__card:nth-child(4) {
      background-image: url("../img/challenge2.png"); }
    .project__card:nth-child(5) {
      background-image: url("../img/camry_card.jpg"); }
    .project__card:nth-child(6) {
      background-image: url("../img/PV.png"); }
    .project__card--hidden {
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      grid-gap: 2rem;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 10;
      border-radius: 5px; }
  .project__description {
    animation: slide .5s; }
  .project__links {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-content: end;
    justify-content: center;
    grid-gap: 2rem; }
    .project__links .paragraph {
      transform: translateY(15%); }
  .project__icon {
    width: 3rem;
    height: 3rem;
    background: white;
    padding-bottom: 10rem; }
    .project__icon--code {
      -webkit-mask: url("../img/code.svg") center/contain no-repeat; }
    .project__icon--data {
      -webkit-mask: url("../img/data.svg") center/contain no-repeat; }
  .project__list {
    list-style: url("../img/light-bulb.svg"); }
  .project__item {
    font-size: 1.6rem;
    padding: .2rem; }
  .project__card:hover .project__card--hidden {
    display: flex; }

.technologies__container {
  display: flex;
  align-content: center;
  justify-content: center; }

.technologies__icon {
  height: 10rem;
  padding: 2rem; }
