*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Roboto;
  scroll-behavior: smooth; }

a {
  color: inherit;
  text-decoration: none; }

.main {
  width: 1300px;
  margin: 0 auto; }

.heading--small {
  font-size: 1.9rem; }

.heading--big {
  font-size: 2.5rem; }

.heading--center {
  text-align: center; }

.paragraph {
  font-size: 1.6rem; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.mb-md {
  margin-bottom: 3rem; }

.mt-hg {
  margin-top: 9rem; }

.home {
  display: grid;
  grid-template-columns: 1fr 1fr; }
  .home__card {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .home__card--text {
      width: 80%; }
  .home__photo {
    max-height: 450px;
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); }

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  position: fixed;
  top: 0;
  z-index: 11;
  width: 100%;
  background-color: #fff; }
  .navbar__name {
    font-size: 3.5rem;
    font-family: 'Playfair Display SC';
    padding: 1rem;
    border: solid black 1px; }
  .navbar__menu {
    display: flex;
    align-items: center; }
  .navbar__item {
    list-style: none;
    text-transform: uppercase;
    font-size: 1.9rem;
    padding: 2rem; }
    .navbar__item:hover {
      background-color: blue;
      color: white; }

.project {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-template-rows: 300px 300px;
  justify-content: center;
  grid-gap: 4rem; }
  .project__card {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    background-size: contain;
    background-position: 0 3rem;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 5px; }
    .project__card:nth-child(1) {
      background-image: url("../img/camry_card.jpg"); }
    .project__card:nth-child(2) {
      background-image: url("../img/camry_card.jpg"); }
    .project__card:nth-child(3) {
      background-image: url("../img/camry_card.jpg"); }
    .project__card:nth-child(4) {
      background-image: url("../img/camry_card.jpg"); }
    .project__card:nth-child(5) {
      background-image: url("../img/camry_card.jpg"); }
    .project__card:nth-child(6) {
      background-image: url("../img/camry_card.jpg"); }
    .project__card--hidden {
      display: none;
      grid-template-columns: repeat(2, min-content);
      align-content: end;
      justify-content: center;
      grid-gap: 2rem;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 10;
      border-radius: 5px; }
  .project__icon {
    width: 3rem;
    height: 3rem;
    background: white;
    padding-bottom: 10rem; }
    .project__icon--code {
      -webkit-mask: url("../img/code.svg") center/contain no-repeat; }
    .project__icon--data {
      -webkit-mask: url("../img/data.svg") center/contain no-repeat; }
  .project__card:hover .project__card--hidden {
    display: grid; }

.technologies__container {
  display: flex;
  align-content: center;
  justify-content: center; }

.technologies__icon {
  height: 10rem;
  padding: 2rem; }
