.home{
	display: grid;
	grid-template-columns: 1fr 1fr;


	&__card{
		display: flex;
		flex-direction: column;
		justify-content: center;

		&--text{
			width: 80%;
		}

		&:first-child{
			animation: moveRight 1s;
		}

		&:last-child{
			animation: moveLeft 1s;
		}
	}

	&__photo{
		max-height: 450px;
		-webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
		clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
	}
}

.about{
	padding: 0 15rem;
}