.footer{
	background-color: $orange;
	color: $text--white;
	padding: 3rem;
	text-align: center;

	&__contact{
		height: 10%;
	}

	&__link{

	}

	&__icon{
		width: 2rem;
		transform: translateY(30%);
	}

	&__credit{
		transform: translateY(-30%);
		
	}

	&__container{
		display: flex;
		justify-content: center;
		align-content: center;
		margin-right: 0.5rem;	
		
	}

	&__button{
		background-color: $bgc--dark;
		width: 10rem;
		padding: 1rem;
		font-size: 1.3rem;
		border-radius: 5px;
		text-align: center;

		&:not(:last-child){
			margin-right: 2rem;
		}
	}
}

.contact{

}