.footer{
	background-color: $light-blue;
	color: $text--white;
	padding: 3rem;
	text-align: center;

	&__contact{
		height: 10%;
	}

	&__link{

	}

	&__icon{
		width: 2rem;
		padding: .2rem;
		transform: translateY(20%);
	}

	&__credit{
		transform: translateY(70%);
		
	}

	&__container{
		display: flex;
		justify-content: center;
		align-content: center;
		margin-right: 0.5rem;	
		transform: translateY(-20%);
	}

	&__button{
		background-color: $button;
		width: 10rem;
		padding: 1rem;
		font-size: 1.4rem;
		border-radius: 5px;
		text-align: center;

		&:not(:last-child){
			margin-right: 2rem;
		}

		&:hover{
			background-color: $button--light;
		}
	}
}

.contact{

}