.project{
	display: grid;
	grid-template-columns: repeat(3, minmax(200px, 1fr));
	grid-template-rows: 300px 300px;
	justify-content: center;
	grid-gap: 4rem;
	

	&__card{
		box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
	}
}